<% layout('layouts/boilerplate') %>
    <div class="alert alert-danger error" role="alert">
        <h4 class="alert-heading">Error!</h4>
        <p><%=err.message%></p>
        <hr>
        <p class="mb-0">The requested URL does not exist</p>
        <br>
        <br>
        <a href="/" class="text-secondary">Go Back to Home Page</a>
    </div>