<%- layout('/layouts/boilerplate') %>

    <div id="homePage">
        <img src="https://images.unsplash.com/photo-1590650046871-92c887180603?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
            alt="">
        <h1>W E L C O M E</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, at rerum. Nisi beatae ab eius corporis
            consequatur provident. Libero sunt eum dicta. Explicabo, veniam modi? Cumque quaerat illum soluta sunt!</p>
        <a href="/chatter"><button>Start Chatting</button></a>
    </div>