.chatterMain{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0 ,0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.userFlash{
    text-transform: capitalize;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 20%;
    height: fit-content;
    margin-top: 2vh;
    opacity: 0.6;
    transition: all 0.5s;
    padding: 5px ;
    display: none;
}
.alertbtn{
    padding-top: 20px !important;
    padding-bottom: 0 !important;
}
.userFlash p{
    margin-bottom: 0;
}
.messages{
    /* background-color: red; */
    /* flex: 1; */
    height: 83.37vh;
    padding: 1vw;
    font-size: 1rem;
    overflow-y: scroll;
    /* background-color: red; */
}
.messages p{
    max-width: 100%;
    overflow-wrap: break-word;
    /* background-color: #d6681f !important; */
}
.messages::-webkit-scrollbar {
    display: none;
  }
.messages span{
    color: rgb(255, 255, 255);
    /* font-weight: bold; */
    font-size: 0.8rem;
    background-color: #C23373;
    padding: 2px 8px;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    /* width: fit-content; */
    display: block;
}
.leftMessages{
    margin-right: 40%;
    max-width: 60%;
    width: fit-content;
    border: 3px solid #C23373;
    border-radius: 10px;
    margin-top: 10px;
}
.leftMessages p{
    border-radius: 7px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 8px;
    background-color: #FFC7EA;
    /* width: fit-content; */
    margin-bottom: 0;
}

.rightMessages{
    width: fit-content;
    border: 3px solid #C23373;
    border-radius: 10px;
    max-width: 60%;
    margin-left: auto;
    margin-top: 10px;
}
.rightMessages p{
    overflow-wrap: break-word;
    margin-bottom: 0;
    padding: 8px;
    text-align: right;
    border-radius: 7px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    /* background-color: rgb(158, 245, 158); */
    background-color: #FFC7EA;
    /* width: fit-content; */
    /* margin-left: auto; */
}
.rightMessages span{
    text-align: right;
    display: block;
    /* background-color: red; */
}

.messageForm{
    display: flex;
    border: 2px solid rgb(115, 71, 236);
    height: 40px;
}
.messageInput{
    padding: 0 20px;
    flex: 1;
    background-color: rgb(240, 255, 255 ,0.7);
    outline: none;
    border: none;
    border-right: 2px solid rgb(115, 71, 236);
}
.messageForm button{
    border-radius: 0;
    padding: 0 15px;
    /* padding: 0.5vw 2vw; */
    border: none;
    color: white;
    outline: none;
    background-color: #BC7AF9;
}
.messageForm button:hover{
    background-color: #ad5ff7 ;
}
@media(max-width:1170px) {
    .userFlash{
        width:60%;
        height: fit-content;
    }
    .messages{
        font-size: 0.8rem;
    }

}