body , html{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background-image: linear-gradient(to bottom left , #C44C8C, #254eae)
}
.error{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 10vh;
    width: 60%;
    /* height: 40%; */
    text-align: center;
}
.flash{
    /* height: fit-content; */
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 40%;
    margin-top: 10vh;
    opacity: 0.6;
    transition: all 0.5s;
}
main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm ,.registerForm{
    background-color: white;
    padding: 0px 40px 15px;
}
.loginForm form ,.registerForm form{
    display: flex;
    flex-direction: column;
    width: 350px;
}
.username ,.password{
    min-width:100%;
    border: none;
    outline: none;
    background-color: rgb(230, 230, 230);
    margin-bottom: 15px;
    padding: 10px 20px;
}
.loginBtn{
    margin: 15px 0;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    background-color: rgb(196, 76, 138);
    border-radius: 0;
    padding: 10px 20px;
}

.extraOptions button{
    padding: 6px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
} 
.extraOptions img{
    height: 20px;
    margin-right: 5px;
}
.loginForm .sub,.registerForm .sub{
    display: block;
    text-align: center;
    margin-top: 100px;
}
.togglePasswordError{
    display: none;
}
footer{
    z-index: 1;
}
@media(max-width:440px) {
    .loginForm form{
        width:100%;
    }
}