<%- layout('/layouts/boilerplate') %>

  <div class="loginForm shadow">
    <h1 class="text-center my-5">REGISTER</h1>
    <form action="/register" method="post" class="needs-validation" novalidate>
      <input type="text" class="username form-control" name="username" placeholder="Username" required>
      <input type="password" class="password form-control" name="pass" placeholder="Password" required>
      <input type="password" class="password form-control" name="password" placeholder="Confirm Password" required>
      <button class="loginBtn my-4">Register</button>
        <span class="text-secondary">Already have an acount <a href="/login" class="link-secondary">Login</a></span>
    </form>
    <!-- <span class="text-secondary">Not a member? <a href="/register" class="link-secondary">Sign up now</a></span> -->
  </div>